*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.LoftMebel{
    background-image: url(Pictures/LoftMebel.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 92%;
    height: 80vh;
    margin: auto;
}

@media only screen and (min-width:460px) and (max-width:640px){
  .gray-navbar{
    display: inline;
  }
  .white{
    display: inline;
  }
  .white-left{
    display: flex;
    justify-content: center ;
    padding-top: 20px;
  }
  .white-middle{
    width: 480px;
  }
  .white-right{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .LoftMebel{
    height: 100vh;
    padding-top: 50px;
  }
  .mebel-text {
    display: flex;
    justify-content: center;
  }
  .mebel-title {
    display: flex;
    justify-content: center;
  }
  .new{
    display: inline;
  }
  .new-right{
    padding-top: 20px;
  }
  .finish{
    display: inline;
  }
  .gray-medium{
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .gray-right{
    padding-top: 20px;
  }
  .gray-middle{
    padding-top: 20px;
  }
  .gray-left{
    padding-top: 30px;
  }
}

@media only screen and (min-width:640px) and (max-width:1000px){
  .gray-navbar{
    display: inline;
  }
  .white{
    display: inline;
  }
  .white-left{
    display: flex;
    justify-content: center ;
    padding-top: 20px;
  }
  .white-middle{
    width: 480px;
  }
  .white-right{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .LoftMebel{
    height: 100vh;
    padding-top: 50px;
  }
  .mebel-text {
    display: flex;
    justify-content: center;
  }
  .mebel-title {
    display: flex;
    justify-content: center;
  }
  .new{
    display: inline;
  }
  .new-right{
    padding-top: 20px;
  }
  .finish{
    display: inline;
  }
  .gray-medium{
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .gray-right{
    padding-top: 20px;
  }
  .gray-middle{
    padding-top: 20px;
  }
  .gray-left{
    padding-top: 30px;
  }
}